@import "../../../../styles/variables.scss";

.settings-section {
  background-color: $dark-theme-bg-color2;

  min-height: 100%;
  max-width: 100%;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 2em;
  padding-inline: calc($layout-margin + 9rem);

  @include flexVertical;
}

.settings {
  min-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;

  @include flexHorizontal;
  justify-content: flex-start;
  align-items: flex-start;
}

.second-column {
  min-width: 40%;
  width: 40%;
  height: 100%;
}

.avatar-img {
  width: 15rem;
  height: auto;

  margin-bottom: 1rem;
}


.header {
  width: 100%;
  @include flexVertical;
  justify-content: center;
}

.header__text {
  font-size: 2rem;
  font-family: $main-font;
  color: white;

  margin: 0;
  align-self: flex-start;

  padding-right: 2.5rem;
  padding-bottom: 0.3rem;

  border-bottom: 1px solid $primary-color2;
}

.first-column {
  width: 100%;
  height: 100%;
}

.setting {
  width: 100%;
  height: fit-content;
  border-left: 1px solid $dark-theme-bg-color3;
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.setting:last-of-type {
  margin-bottom: 0;
}

.setting:first-of-type {
  margin-top: 2rem;
}

.setting__name {
  font-family: $main-font;
  color: white;
}

.setting__inputs {
  list-style: none;
  padding: 0;
}

.setting__input {
  font-family: $secondary-font;
  @include flexVertical;
  align-items: flex-start;

  margin-bottom: 1rem;
}

.setting__input:last-of-type {
  margin-bottom: 0;
}

.setting__btn {
  width: fit-content;
  height: 2rem;

  background: none !important;
  background-color: $primary-color2 !important;
  padding-inline: 1rem;

  transition: 0.2s ease-in-out;
}

.file-input__btn {
  width: 10rem;
  height: 2rem;

  background: none !important;
  background-color: $primary-color2 !important;

  transition: 0.2s ease-in-out;
  @include flexHorizontal;
  padding: 0;

  position: relative;

  overflow: hidden;
}

.file-input__dummy {
  width: 100%;
  height: 100%;

  position: absolute;
  @include flexVertical;
  justify-content: center;

  z-index: 1;
}

.input__label {
  color: white;
  margin-bottom: 0.2rem;
  padding-left: 0.6rem;

}

.input__input {
  font-family: $secondary-font;
  width: 15rem;

  border-radius: 25px;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;

  font-size: 1rem;

  &.fail {
    border-color: red;
    border-width: 3px;
  }
}

.file-input {
  display: none;
}

.file-input__upload-icon {
  width: 15px;
  fill: white;

  position: absolute;
  right: 15px; 

  pointer-events: none;
}

.message {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $secondary-font;
  font-size: 0.9rem;
  font-weight: 300;

  &.fail {
    color: red;
  }

  &.success {
    color: rgb(7, 241, 7);
  }
}



@media (hover: hover) and (pointer: fine) {
  .setting__btn:hover {
    padding-inline: 2rem;
    cursor: pointer;
  }

  .file-input__btn:hover {
    width: 11.5rem;
  }

  .file-input__dummy:hover {
    cursor: pointer;
  }
}
