@import "../../../styles/variables.scss";
@import "../../UI/ToWatchButton/styles/ToWatchButton.module.scss";

.people-info__header {
  min-height: fit-content;
  max-height: fit-content;
  width: fit-content;
  @include flexVertical;

  align-items: flex-start;

  padding-right: 5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $primary-color2;
}

.info__header {
  min-height: fit-content;
  height: fit-content;
  max-height: fit-content;
  width: fit-content;
  @include flexHorizontal;
  align-items: flex-start;

}

.header__info-section {
  width: fit-content;
  padding-right: 5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $primary-color2;
}

.header__input-section {
  @include flexVertical;
  margin-left: 2rem;
  width: fit-content;
  height: fit-content;
}



.header__title {
  font-weight: bold;
  margin: 0;
  color: white;

  transition: font-size 0.2s ease-in;
}

.header__name {
  font-weight: 400;
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

.header__title span {
  font-weight: lighter;
}

.header__genres {
  margin: 0;
  margin-top: 0.2rem;
  color: rgba(255, 255, 255, 0.8);
}

.header__gender {
  margin: 0;
  margin-top: 0.2rem;
  color: rgba(255, 255, 255, 0.8);
}




@media screen and (max-width: 1200px) {
  .header__info-section {
    padding-right: 1rem;
  }

  .info__header {
    padding-right:  1rem;
  }
}

@media screen and (max-width: 1100px) {
  .header__title {
    font-size: 1.05rem;
  }

  .header__genres {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 800px) {
  .header__info-section {
    padding-right: 0.2rem;
  }

}

@media screen and (max-width: 600px) {
    .input-btn__to-watch {
      & p {
        display: none;
      }

      & svg {
        width: 25px;
      }
    }
}

@media screen and (max-width: 500px) {
  .info__header {
    padding-right: 0;
  }
}
