@import "../../../styles/variables.scss";

.modal__container {
  position: fixed;
  width: 100vw;
  height: 100vh;

  @include flexHorizontal;
  padding-top: 40px;
  justify-content: center;

  z-index: 14;
}

.modal__backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 14;
}

.modal__outside-space {
  position: absolute;
  width: 100vw;
  height: 110vh;
}

.modal__card {
  margin-left: $main-scrollbar-width;
  position: relative;
  bottom: 10vh;
  width: 70vw;
  height: 70vh;

  position: relative;

  border-radius: 15px;
  z-index: 15;

  background-color: $dark-theme-bg-color2;
  overflow: hidden;
}

.modal__card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;

  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 0%
  );
  z-index: 2;
}

