@import "../../../styles/variables.scss";

.main-content {
    height: 70%;
    width: 100%;
    @include flexVertical;
    align-items: flex-start;
    color: white;
  
    padding-block: 0.5rem;
    padding-right: 12%;
  }
  
  .rating-icon {
    position: relative;
    top: -3px;
    width: 18px;
    height: auto;
    margin-right: 0.3rem;
  }
  
  .overview__container {
    max-height: 60%;
  }
  
  .overview-text__wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.7rem;
    padding-right: 1.5rem;
    max-height: 16vh;
    overflow-y: scroll;
  }


  
  .overview-text {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    position: relative;


  }

  .user-score__container {
    @include flexHorizontal;
    width: 100%;
    height: fit-content;
    font-size: 18px;
    font-weight: 300;
  }
  
  .user-score__container > p {
    margin-top: 0.6rem;
    margin-bottom: 0.9rem;
  }

  .known-for__container {
    @include flexVertical;
    align-items: flex-start;
  }
  

  .known-for__content {
    @include flexHorizontal;
    max-height: 100%;
    width: 100%;
  }

  .known-for__card {
    margin-top: 0.5rem;
    @include flexVertical;
    height: 25vh;
    margin-inline: 0.7rem;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
  }

  .known-for__card:first-of-type {
    margin-left: 0;
  }

  .known-for__card:hover {
    cursor: pointer;
  }

  .known-for__img {
    height: 100%;
    transition: 0.25s ease-in-out;
  }

  .known-for__img:hover {
    transform: scale(1.02)
  }