@import "../../../styles/variables.scss";

.modal__container {
  position: fixed;
  width: 100vw;
  height: 100vh;

  @include flexHorizontal;
  padding-top: 40px;
  justify-content: center;

  z-index: 14;
}

.modal__backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;

  background-color: rgba(0, 0, 0, 0.8);
  z-index: 14;
}

.modal__outside-space {
  position: absolute;
  width: 100vw;
  height: 110vh;
}

.modal__card {
  margin-left: $main-scrollbar-width;
  position: relative;
  bottom: 10%;
  width: 70%;
  max-width: 1100px;
  height: 75%;
  min-height: 360px;

  position: relative;

  border-radius: 15px;
  z-index: 15;

  background-color: $dark-theme-bg-color2;
  overflow: hidden;
  transition: height 0.2s, width 0.2s ease-in;
}

.modal__card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;

  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.1) 0%
  );
  z-index: 2;
}


@media screen and (max-width: 1300px) {
  .modal__card {
    height: 65%
  }
}

@media screen and (max-width: 1100px) {
  .modal__card {
    height: 55%
  }
}


@media screen and (max-width: 900px) {
  .modal__card {
    width: 85%;
    height: 55%
  }
}

@media screen and (max-width: 700px) {
  .modal__card {
    height: 50%
  }
}

@media screen and (max-width: 500px) {

.modal__container {
  ::-webkit-scrollbar {
    width: 2;
    height: 0;
    display: none;
  }
}

  .modal__card {
    bottom: 3%;
    width: 90%;
    height: 90%;
    margin-left: 0;

    overflow-y: scroll;
  }


  .modal__card::before {
    display: none;
  }

  
}

@media screen and (max-width: 300px) {

  
    .modal__card {
      bottom: 3%;
      width: 100%;
      height: 90%;
      margin-left: 0;
      min-width: 250px;
      overflow-y: scroll;
    }
  
  
    .modal__card::before {
      display: none;
    }
  
    
  }

  @media screen and (min-height: 1000px) {

  
    .modal__card {
      width: 100%;
      margin-left: 0;
      max-height: 500px;
    }
  
    
  }


