@import "../../../../styles/variables.scss";

.filters-menu {
  position: relative;
  width: 3rem;
  height: 3rem;

  margin-left: auto;
}

.filters-menu__inside-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;

  background-color: $dark-theme-bg-color1;

  z-index: 5;

  border: 2px solid $primary-color2;
  border-radius: 10px;

  overflow: hidden;
}

.filters-menu__btn {
  background-color: $dark-theme-bg-color1;
  border: none;

  width: fit-content;
  height: fit-content;
  min-width: calc(3rem - 3px);
  min-height: calc(3rem - 3px);

  padding: 0.5rem;

  position: absolute;
  right: 0px;
  top: 0px;

  z-index: 7;
}

.filters-menu__icon {
  fill: $primary-color2;
  max-height: 25px;
  width: auto;

  position: relative;
  z-index: 5;
  pointer-events: none;
}

.filters-menu__icon-track1,
.filters-menu__icon-track2,
.filters-menu__icon-track3 {
  transition: transform 0.4s ease-in-out;
}

.filters {
  height: fit-content;

  @include flexVertical;
}

.filters__header {
  width: 100%;
  height: fit-content;

  @include flexHorizontal;
  justify-content: center;

  // border-bottom: 3px solid $dark-theme-bg-color2;
}

.filters__filters {
  width: 30vw;
  height: fit-content;

  padding-bottom: 1.2rem;
}

.filters__header-text {
  color: white;

  margin: 0;
  margin-block: 0.8rem;

  font-size: 16px;
  font-weight: 600;
}

.filters__clear-btn {
  width: fit-content;
  height: fit-content;
  padding-inline: 1.2rem;
  padding-block: 0.5rem;

  margin-bottom: 1.2rem;

  transition: padding-inline 0.2s ease-in-out, padding-block 0.2s ease-in-out;
}




.filters-menu__btn:active {
  cursor: pointer;
  background-color: $dark-highlight;

  .filters-menu__icon-track1 {
    transform: translateY(-10px);
  }

  .filters-menu__icon-track2 {
    transform: translateY(13px);
  }

  .filters-menu__icon-track3 {
    transform: translateY(-15px);
  }
}


.filters__clear-btn:active {
  padding-inline: 2rem;
  cursor: pointer;
}


@media (hover: hover) and (pointer: fine) {
  .filters-menu__btn:hover {
    cursor: pointer;
    background-color: $dark-highlight;

    .filters-menu__icon-track1 {
      transform: translateY(-10px);
    }

    .filters-menu__icon-track2 {
      transform: translateY(13px);
    }

    .filters-menu__icon-track3 {
      transform: translateY(-15px);
    }
  }

  .filters__clear-btn:hover {
    padding-inline: 2rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .filters__filters {
    width: 40vw;
  }
}


@media screen and (max-width: 900px) {
  .filters-menu {
    align-self: flex-start;
  }

  .filters-menu__btn {
    right: -2px;
  }

  .filters__filters {
    width: 50vw;
  }
  
}

@media screen and (max-width: 700px) {
  .filters__filters {
    width: 65vw;
  }
}

@media screen and (max-width: 500px) {

  .filters__filters {
    width: 85vw;
  }

  .filters__header-text {
    font-size: 14px;
  }

  .filters-menu {
    width: 2.2rem;
    height: 2.2rem;
  }

  .filters-menu__btn {
    min-width: calc(2.2rem - 3px);
    min-height: calc(2.2rem - 3px);

    top: -1px;
  }

  .filters-menu__icon {
    max-height: 17px;
  }

  .filters__clear-btn {
   font-size: 11px;
    
  }
}


@media screen and (max-width: 350px) {

  .filters__filters {
    width: 90vw;
  }

  .filters-menu__btn {
    min-width: calc(2.2rem - 3px);
    min-height: calc(2.2rem - 3px);

    right: -3px;
    top: -1px;
  }
}