@import "../../../styles/variables.scss";


.movie-container {
    height: 100%;
    min-width: 150px;
    margin-inline: 0.5rem;

    font-family: $main-font;
    @include flexVertical;
    margin-bottom: 1rem;
    margin-inline: 0.5rem;
}

.movie-container:first-of-type {
    margin-left: 0;
}

.movie-img__container {
    border-radius: 10px;
    height: 220px;
    width: 100%;

    overflow: hidden;
}



.movie-container:last-of-type {
    margin-left: 0;
}

.movie-img {
    min-height: 220px;
    width: 100%;
    
    transition: transform 0.2s linear;

}

.movie-img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.movie-rating__container {
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    @include flexHorizontal;

    color: white;
    justify-content: center;
}

.rating-icon {
    fill: red;
    width: 18px;
    height: auto;
    margin-right: 0.3rem;
}

.rating-average {
    margin: 0;
    font-size: 1.1rem;
}

.movie-info__container {
    height: 100%;
    width: 100%;
    padding-block: 0.3rem


}

.movie-title {
    font-size: 13px;
    font-weight: 400;
    color: white;
    margin-top: 0.2rem;

    text-align: center;
}

.movie-title:hover {
    cursor: grab;
    text-decoration: underline;
}