@import "../../../styles/variables.scss";

.movie-img__container {
    height: 100%;
    min-width: 150px;
    margin-inline: 0.5rem;

    @include flexVertical;

    font-family: $main-font;

    margin-bottom: 1rem;
}

.movie-img__container:first-of-type {
    margin-left: 0;
}

.movie-img__container:last-of-type {
    margin-right: 0;
}

.movie-img {
    border-radius: 10px;
    min-height: 220px;
    width: 100%;
    
    transition: transform 0.2s linear;
}

.movie-img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.movie-rating__container {
    width: 100%;
    height: auto;
    padding-top: 0.5rem;
    @include flexHorizontal;

    color: white;
}

.rating-icon {
    fill: red;
    width: 18px;
    height: auto;
    margin-right: 0.3rem;
}

.rating-average {
    margin: 0;
    font-size: 1.1rem;
}

.movie-info__container {
    height: 100%;
    width: 100%;
    padding-block: 0.2rem;
}

.movie-title {
    font-size: 13px;
    font-weight: lighter;
    color: white;
    margin: 0;
}

.movie-title:hover {
    cursor: grab;
    text-decoration: underline;
}