@import "../../../../styles/variables.scss";

@keyframes arrowDive {
  from {
    top: 0px;
  }
  50% {
    top: 5px;
  }
  to {
    top: 0px;
  }
}

.nav-account {
  width: fit-content;
  height: $nav-height;
  margin-left: auto;
  @include flexHorizontal;
  position: relative;
}

.nav-account__avatar-icon {
  min-width: calc($nav-height/1.7);
  height: calc($nav-height/1.7);

  overflow: hidden;
  border-radius: 50%;
  outline: 2px solid $primary-color2;

  margin-right: 0.6rem;
}


.nav-account__avatar-img {
  width: 100%;
  height: 100%;

  object-fit: fill;
}

.nav-account__arrow-icon {
  fill: $primary-color2;
  width: 17px;
  height: 17px;

  position: relative;

}

.nav-account__arrow-icon.active {
  transform: rotate(180deg);
}

.nav-account__arrow-btn {
    padding: 0;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;

    height: $nav-height/2.5;
    @include flexVertical;
    justify-content: center;
    padding-inline: 0.3rem;

}


.nav-account__username {
  color: white;
  font-size: 0.95rem;
  font-weight: 400;

  margin: 0;
  padding: 0.2rem;
  border-bottom: 1px solid transparent;
}

@media (hover: hover) and (pointer: fine) {
  .nav-account__avatar-icon {
    cursor: pointer;
  }

  .nav-account__username:hover {
    cursor: pointer;
    color: $primary-color2;
    border-bottom: 1px solid $primary-color2;
  }


  .nav-account__arrow-btn:hover{
    animation-duration: 0.3s;
    cursor: pointer;
    background-color: $dark-highlight;
  }
  
  .nav-account__arrow-btn:hover .nav-account__arrow-icon {
    animation: arrowDive;
    animation-duration: 0.5s;
  }
}

@media screen and (max-width: 650px) {
  .nav-account__username {
    display: none;
  }
}
