@import "../../../styles/variables.scss";

.footer__container {
  font-family: $main-font;
  @include flexHorizontal;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;

  background-color: $dark-theme-bg-color2;

  overflow: hidden;
}

.footer__content {
  @include flexHorizontal;
  width: 100%;
  margin: 0 $layout-margin;
  color: white;
  justify-content: space-around;
}

.footer__element {
  padding: 0rem;
  @include flexHorizontal;
}



.footer__element:first-of-type {
  margin-right: 2rem;
  width: fit-content;
}

.moviedb-icon {
  position: relative;
  min-width: 140px;
  max-width: 140px;
}


.footer__message {
  font-size: 0.8rem;
  margin-left: 1rem;
}

@media screen and (max-width: 700px) {

  .moviedb-icon {
    min-width: 100px;
    max-width: 100px;
  }

  .footer__element:first-of-type {
    margin-right: 1rem;
  }

  .footer__element:first-of-type p {
    font-size: 0.8rem;
  }

  .footer__message {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 500px) {

  .moviedb-icon {
    min-width: 100px;
    max-width: 100px;
  }



  .footer__element:first-of-type p {
    font-size: 0.8rem;
  }

  .footer__message {
    display: none;
  }
}

