@import '../../../styles/variables.scss';

.header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 80vh;


    z-index: 1;
}

.header__img {
    width: 100%;
    height: 80vh;

    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/ocUp7DJBIc8VJgLEw1prcyK1dYv.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    backdrop-filter: white;
    -webkit-box-shadow: inset 0px 16px 63px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 16px 63px -13px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 16px 63px -13px rgba(0, 0, 0, 1);


}

.header__content-wrapper {

    padding-top: $nav-height;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__content {
    box-sizing: border-box;
    height: 260px;
    width: 100%;   

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    color: $dark-theme-bg-color2;
    background-color: rgb(15, 15, 15, 0.6);
    // border: 1px solid $primary-color2;
    // border-top:1px solid $primary-color2;
    // border-bottom: 1px solid $primary-color2;

    -webkit-box-shadow: inset 0px -1px 35px -38px rgba(255, 0, 110, 1);
    -moz-box-shadow: inset 0px -1px 35px -38px rgba(255, 0, 110, 1);
    box-shadow: inset 0px -1px 35px -38px rgba(255, 0, 110, 1);

    line-height: 2.2rem;
}

.header__content-container {
    @include flexVertical;

    padding: 3rem 3rem;

    width: fit-content;
    height: 100%;
}

.header__text {
    margin: 0;
    color: $primary-color2;
    font-family: $main-font;

    font-size: 1.4rem;
    color: white;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
}

.header__text span {
    font-size: 2.3rem;
    font-weight: lighter;
    color: $primary-color2;
}

