@import '../../../styles/variables.scss';

.header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 80vh;

    transition: height 0.2s ease-in;
    z-index: 2;
}

.header__img-container {
    width: 100%;
    height: 100%;

   // background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/ocUp7DJBIc8VJgLEw1prcyK1dYv.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    backdrop-filter: white;
    -webkit-box-shadow: inset 0px 16px 63px -13px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 16px 63px -13px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 16px 63px -13px rgba(0, 0, 0, 1);
}

.header-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.header__img-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;  
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
    
    z-index: 1;
}

.header__content-wrapper {

    padding-top: $nav-height;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__content {
    box-sizing: border-box;
    height: 16rem;
    width: 100%;   

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    color: $dark-theme-bg-color2;
    background-color: rgb(15, 15, 15, 0.7);
    // border: 1px solid $primary-color2;
    // border-top:1px solid $primary-color2;
    // border-bottom: 1px solid $primary-color2;

    -webkit-box-shadow: inset 0px -1px 35px -38px rgba(255, 0, 110, 1);
    -moz-box-shadow: inset 0px -1px 35px -38px rgba(255, 0, 110, 1);
    box-shadow: inset 0px -1px 35px -38px rgba(255, 0, 110, 1);

    transition: 0.25s ease-in;
    z-index: 5;
}

.header__content-container {
    @include flexVertical;
    justify-content: center;
    padding: 3rem 3rem;

    width: fit-content;
    height: 100%;
}

.header__text {
    margin: 0;
    color: $primary-color2;
    font-family: $main-font;

    font-size: 1.4rem;
    color: white;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 1);
    transition: 0.3s ease-in;
}

.header__text span {
    font-size: 2.3rem;
    font-weight: 400;
    color: $primary-color2;
    transition: 0.2s ease-in;
    position: relative;
    right: 3px;
}

.header__text p {
    margin: 0;
    margin-top: 0.3rem;
    transition: 0.2s ease-in;
}




@media screen and (max-width: 900px) {


    .header__content-container {
        padding: 2rem 2rem;
    }

    .header__content {
        height: 14rem;
    }


    .header__text span {
        font-size: 2.0rem;
    }

    .header__text p {
        font-size: 1.1rem;
        margin: 0;
        margin-top: 0.3rem;;
    }
    

}



@media screen and (max-width: 600px) {

    .header__content-container {
        padding: 1rem 2rem;
    }

    .header__content {
        height: 11rem;
    }

    .header {
        height: 30rem;
    }


    .header__text {
        font-size: 0.9rem;
        text-align: center;
    }



    .header__text span {
        font-size: 1.6rem;
    }

    .header__text p {
        margin: 0;
        margin-top: 0.2rem;;
    }
}

@media screen and (max-width: 400px) {



    .header__text span {
        font-size: 1.4rem;
    }

    .header__text p {
        font-size: 0.85rem;
        text-align: center;
    }

    .header__content {
        height: 10rem;
    }

    .header {
        height: 23rem;
    }

}