@import '../../../styles/variables.scss';


.nav-container {
    padding: 0 $layout-margin;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: rgba(15, 15, 15, 0.6);

    width: 100%;
    height: $nav-height; 

    font-family: $main-font;


    z-index: 11;

    border-bottom: 1px solid $primary-color2;
}


.nav-links__main {
    opacity: 1;
    width: fit-content;
    height: 100%;
    @include flexHorizontal;
    justify-content: flex-start;
    margin-left: 2.5rem;
    margin-block: 0;
    padding: 0;

}

.nav-links__collapsable {
    display: none;
}

.link:active {
    color: $primary-color2;
    cursor: pointer;
    border-bottom: 2px solid $primary-color2;
    -webkit-box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
    -moz-box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
    box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
    border-bottom: 2px solid $primary-color2;
}

.link {
    @include flexVertical;
    box-sizing: border-box;
    justify-content: center;
    height: 100%;

    padding: 0 2rem;
    color: white;
    transition: box-shadow 0.15s, color 0.15s, border-bottom 0.15s ease-in-out;
    margin-top: 2px;
    border-bottom: 2px solid transparent;
}


.brand {
    @include flexHorizontal;
    color: $primary-color1;
    height: $nav-height
}



.brand__text {
    background: #3A86FF;
    background: linear-gradient(to right, #3A86FF 0%, #8338EC 50%, #FF006E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    margin: 0;
    font-size: 2rem;
    font-weight: 300;
}


.nav-menu__background:active {
    cursor: pointer;
    background-color: hsl(334, 90%, 20%);
}


.brand__icon {
    width: 1.9rem;
    height: 1.9rem;
    margin: 0.1rem;
}

.nav-menu__background {
    display: none;
}

.nav-menu__icon {
    height: calc($nav-height/2 - 0.5rem);
    fill: $primary-color2;
    display: none;
}


@media screen and (max-width: 850px) {

    .nav-container {
        justify-content: space-between;
    }

    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity : 1; 
        }
    }

    .nav-links__main {
        display: none;
    }

    .nav-links__collapsable {
        animation-duration: 1s;
        width: 11rem;
        height: fit-content;
        position: absolute;
        top: $nav-height;
        right: 0;

        // margin-right: 1px;
        // right: calc($layout-margin - 57px);
        @include flexVertical;
        justify-content: flex-start;
        margin-left: 2.5rem;
        margin-block: 0;
        padding: 0;
        background-color: rgba(15, 15, 15, 1);
        // border-right: 1px solid $primary-color2;
        border-left: 2px solid $primary-color2;
        border-bottom: 2px solid $primary-color2;

        border-bottom-left-radius: 15px;;
        overflow: hidden;

    }

    .link {
        // border-bottom: 1px solid $primary-color2;
        // padding-inline: 1rem;
        // margin-inline: 1rem;
        width: 100%;
        padding-bottom: 2px;
        transition: box-shadow 0.15s, color 0.15s, border-bottom 0s;
    }

    .link p {
        margin-block: 0.9rem;
    }

    .link:last-of-type {
        // border-bottom: none;
        padding-bottom: 0.5rem;
    }

    .link:first-of-type {
        // border-bottom: none;
        padding-top: 0.5rem;
    }

    .link:last-of-type:hover {
        // padding-bottom: 0px;
    }

    .link:hover {
        // border-left: 2px solid $primary-color2;
        // border-bottom: none;
    }


    .nav-menu__background {
        @include flexHorizontal;
        justify-content: center;
        height: calc($nav-height - 2rem);
        width: calc($nav-height - 2rem);
        border-radius: 50%;

        transition: 0.2s ease-in-out;
    }


    .nav-menu__icon {
        display: block;
    }


}


@media (hover: hover) and (pointer: fine) {
    .brand:hover {
        cursor: pointer;
    }

    .nav-links__main > .link:hover {
        color: $primary-color2;
        cursor: pointer;
        border-bottom: 2px solid $primary-color2;
        -webkit-box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
        -moz-box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
        box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
    }

    .nav-links__collapsable > .link:hover {
        color: $primary-color2;
        cursor: pointer;
        -webkit-box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
        -moz-box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
        box-shadow: inset 0px -85px 54px -100px rgba(255, 0, 110, 1);
    }

    .nav-menu__background:hover {
        cursor: pointer;
        background-color: hsl(334, 90%, 20%);
    }

  }

 