@import "../../../../../styles/variables.scss";

.production-info {
  width: 100%;
  height: 100%;
  // background-color: hsla(265, 83%, 57%, 0.1);
  background-color: hsla(217, 100%, 61%, 0.1);
  // background-color: hsla(35, 72%, 61%, 0.1);

  padding-top: 1.5rem;
  padding-inline: 1rem;
  // border-left: 2px solid $middle-color;
  // border-left: 1px solid $primary-color1;
  // border-left: 1px solid $rating-color;

  @include flexVertical;

}

.info__header {
  height: fit-content;
  width: 60%;
  min-width: fit-content;

  padding-inline: 3rem;


  & h2 {
    text-align: center;

    font-family: $main-font;
    font-size: 20px;
    // font-weight: 400;
    padding-bottom: 0.2rem;
    // border-bottom: 2px solid $middle-color;
    color: white;
    border-bottom: 2px solid $primary-color1;

    margin: 0;
  }
}

.info__content {
  @include flexVertical;
  align-items: flex-start;


  width: 60%;
  padding-top: 1rem;
}

.content__info {
  &:first-of-type {
    padding-top: 0;
  }

  padding-top: 0.2rem;

  & span {
    font-family: $secondary-font;
    font-size: 16px;
    color: white;

    align-items: center;

    &.status {
      font-weight: 200;
    }
  }
}

.content__companies {
  @include flexVertical;
  align-items: flex-start;

  margin-top: 0.5rem;

  & span {
    font-family: $secondary-font;
    font-size: 16px;
    color: white;
  }
}

.companies {
  margin-top: 0.5rem;
  display: flex;
}

.company-logo__container-wrapper {
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  background-color: white;
  &:nth-child(2) {
    margin-inline: 1.5rem;
  }
}

.company-logo__container {
  position: relative;

  width: 100px;
  height: 45px;

  overflow: hidden;
}

.company-logo__img {
  object-fit: contain;
}

.companies__fallback {

  font-weight: 200 !important;
}



@media screen and (max-width: 1000px) {
  .production-info {
    border-left: 2px solid $primary-color1;
    align-items: flex-start;
    padding-inline: $layout-margin;
    padding-top: 0;
  }

  .info__header {
    width: fit-content;
    padding-left: 0;

    & h2 {
      text-align: left;
      padding-right: 2rem;
    }
  }

}

@media screen and (max-width: 500px) {

  .production-info {
    height: 21rem;
    padding-bottom: 1rem;
  }

  .companies {
    display: flex;
    flex-direction: column;

    .company-logo__container-wrapper {
      margin-inline: 0;
      &:nth-of-type(2) {
        margin-block: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .production-info {
    padding-inline: 1rem;
  }
}