@import "../../../../../styles/variables.scss";

// SECONDARY CONTENT

.details-page__additional-info {
  width: 100%;
  height: fit-content;
  min-height: fit-content;

  display: grid;
  grid-template-columns: 2fr 1fr;

  margin-bottom: 2rem;
  // padding-top: 1rem;
  // padding-inline: $layout-margin;


  background-color: $dark-theme-bg-color2;
}

.section {
  // border-top: 1px solid $dark-theme-bg-color2;
  max-height: 19rem;
  min-height: fit-content;
  height: 19rem;

  width: 100%;
  max-width: 100%;
  min-width: 0;
}


@media screen and (max-width: 750px) {
  .details-page__additional-info {
  
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  
  
    background-color: $dark-theme-bg-color2;
  }


}

