@import "../../../styles/variables.scss";

.search-results {
    position: relative;
    top: $nav-height;
    width: 100%;
    height: auto;
    margin-bottom: 10rem;
}

.search-results__card {
    width: 100%;
    height: auto;
    background-color: $dark-theme-bg-color2;
    @include flexHorizontal;
    font-family: $main-font;


    padding-block: 2rem;
    padding-inline: $layout-margin;
}

.results__container {
    width: 100%;
    height: 100%;
    padding-left: 2rem;
    @include flexVertical;
}



