@import "../../../styles/variables.scss";

.account-menu {
    position: relative;
    top: $nav-height;

    max-width: 100%;
    width: 100%;
    min-height: 80vh;
    height: fit-content;

    padding-block: 2rem;
    padding-top: 0rem;
    margin-bottom: 5rem;
}

.account-menu__card {
    @include flexVertical;

    // border: 2px solid $primary-color2;
    min-height: 80vh;
    height: fit-content;
    width: 100%;

    // border-radius: 25px;
    overflow: hidden;
    background-color: $dark-theme-bg-color2;
    
}


// ACCOUNT SECTION

.account-section {
    background-color: $dark-theme-bg-color2;

    min-height: 100%;
    max-width: 100%;
    width: 100%;
    padding-inline: $layout-margin;

    @include flexVertical;
}

.section__header {
    width: 100%;
    @include flexVertical;
    justify-content: center;
    font-family: $main-font;
}

.header__username {
    width: fit-content;
    text-align: center;
    color: white;

    font-size: 2rem;
    font-family: $main-font;
    font-weight: 500;


    margin-bottom: 0.3rem;
}

.header__username + span {
    color: white;
    font-weight: 200;
}




