@import "../../../styles/variables.scss";

.account-menu {
    position: relative;
    top: $nav-height;

    max-width: 100%;
    width: 100%;
    min-height: 80vh;
    height: fit-content;

    padding-block: 2rem;
    margin-bottom: 5rem;
    padding-inline: $layout-margin;
}

.account-menu__card {
    @include flexHorizontal;

    border: 2px solid $primary-color2;
    min-height: 80vh;
    height: 80vh;
    width: 100%;

    border-radius: 25px;

    overflow: hidden;
    background-color: $dark-theme-bg-color2;
    
}


// ACCOUNT SECTION

.account-section {
    background-color: $dark-theme-bg-color2;

    min-height: 100%;
    max-width: 100%;
    width: 100%;
    padding-inline: 5rem;

    @include flexVertical;
}

.section__header {
    width: 100%;
    @include flexVertical;
    justify-content: center;
    font-family: $main-font;
}

.header__username {
    width: fit-content;
    text-align: center;
    color: white;

    font-size: 2rem;
    font-family: $main-font;
    font-weight: 500;

    // background: #3A86FF;
    // background: linear-gradient(to right, #3A86FF 0%, #8338EC 50%, #FF006E 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    margin-bottom: 0.3rem;
}

.header__username + span {
    color: white;
    font-weight: 200;
}




