@import "../../../styles/variables.scss";

.dashboard-section {
  background-color: $dark-theme-bg-color2;

  min-height: 100%;
  max-width: 100%;
  width: 100%;
  padding-top: 1.5rem;
  padding-inline: $layout-margin;

  @include flexVertical;
  align-items: center;
}

.section__header {
  width: 100%;
  @include flexVertical;
  justify-content: center;
  font-family: $main-font;

  & span {
    text-align: center;
  }
}

.header__username {
  width: fit-content;
  text-align: center;
  color: white;

  font-size: 2rem;
  font-family: $main-font;
  font-weight: 500;

  margin: 0;
  margin-bottom: 0.3rem;

}

.header__username + span {
  color: white;
  font-weight: 200;
}

.section__content {
  width: 80%;

  @include flexVertical;
  align-items: flex-start;
}

.content__ratings-link {
  font-family: $main-font;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  margin-bottom: 2rem;

  text-decoration: underline;
  text-underline-offset: 3px;
}

.user__stats {
  min-width: 1000px;
  width: 100%;
  height: fit-content;

  margin-top: 2rem;
  @include flexHorizontal;

  justify-content: center;
}

.stats__list {
  min-width: 400px;
  max-width: 1100px;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  @include flexHorizontal;
  justify-content: center;
}

.stats__item {
  min-width: 18rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: 2px solid $dark-highlight;
  border-radius: 15px;
  @include flexVertical;
  justify-content: center;

  &:nth-of-type(2) {
    margin-inline: auto;
  }
}

.item__header {
  @include flexHorizontal;
  justify-content: center;
  position: relative;
  padding-inline: 1.7rem;

  & span {
    font-size: 1.1rem;
    font-family: $main-font;
    color: white;
  }

  & .stats__icon {
    fill: $rating-color;
    width: 22px;
    margin-right: 0.4rem;

    position: absolute;
    top: -2px;
    left: -2px;
  }
}

.no-content {
  margin-top: 6rem;
  align-self: center;
}

.no-content__info {
  font-family: $main-font;
  font-size: 2rem;
  color: gray;
}

.item__value {
  width: 100%;
  margin-top: 0.3rem;
  @include flexHorizontal;
  justify-content: center;
  & span {
    text-align: center;
    font-size: 1rem;
    font-family: $main-font;
    color: $rating-color;
  }
}

@media (hover: hover) and (pointer: fine) {
  .content__ratings-link:hover {
    color: $primary-color2;
    cursor: pointer;
  }
}

@media screen and (max-width: 1100px) {

  
  .stats__item {
    min-width: 17.5rem;

    &:nth-of-type(2) {
      margin-inline: 1rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .user__stats {
    min-width: 0px; 
  }

  .stats__list {
    flex-direction: column;;
  }

  .stats__item {
    
    width: 100%;
    align-items: flex-start;
    padding-inline: $layout-margin;

    border-inline: none;
    border-radius: 0;

    flex-direction: row;

    &:nth-of-type(2) {
      border: none;
      margin-inline: 0;
    }
  }

  .item__header {
    white-space: nowrap;
    min-width: 18rem;

    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .stats__list {
    min-width: 300px;
  }

  .stats__item {
    min-width: 10rem;
    padding-inline: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .item__header {
    min-width: 15.5rem;
    white-space: nowrap;
    width:fit-content;
    justify-content: center;
  }

  .item__value {
    justify-content: center;
  }
  
}
 