@import "../../../styles/variables.scss";

.filters-menu {
  position: relative;
  width: 3rem;
  height: 3rem;

  margin-left: auto;
}

.filters-menu__inside-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;

  background-color: $dark-theme-bg-color1;

  z-index: 5;

  border: 2px solid $primary-color2;
  border-radius: 10px;

  overflow: hidden;
}

.filters-menu__btn {
  background-color: $dark-theme-bg-color1;
  border: none;

  width: fit-content;
  height: fit-content;
  min-width: calc(3rem - 3px);
  min-height: calc(3rem - 3px);

  padding: 0.5rem;

  position: absolute;
  right: 0px;
  top: 0px;

  z-index: 7;
}

.filters-menu__icon {
  fill: $primary-color2;
  max-height: 25px;
  width: auto;

  position: relative;
  z-index: 5;
  pointer-events: none;
}

.filters-menu__icon-track1,
.filters-menu__icon-track2,
.filters-menu__icon-track3 {
  transition: transform 0.4s ease-in-out;
}

.filters {
  height: fit-content;

  @include flexVertical;
}

.filters__header {
  width: 100%;
  height: fit-content;

  @include flexHorizontal;
  justify-content: center;

  // border-bottom: 3px solid $dark-theme-bg-color2;
}

.filters__filters {
  width: 100%;
  height: fit-content;

  padding-bottom: 1.2rem;
}

.filters__header-text {
  color: white;

  margin: 0;
  margin-block: 0.8rem;

  font-size: 16px;
  font-weight: 500;
}

.filter-byrating {
  width: 100%;
  padding-right: 7rem;
  padding-left: 2rem;
  padding-block: 1rem;

  border: 1px solid transparent;

  @include flexVertical;
  justify-content: center;

  // background-color: $dark-theme-bg-color2;
  border-block: 3px solid $dark-theme-bg-color2;
}

.filter-byrating__header {
  width: 100%;
  height: fit-content;
}

.filter-byrating__header-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem;
  color: white;
}

.filter-byrating__inputs {
  @include flexHorizontal;
  justify-content: center;
}

.filter-byrating__label {
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-right: 0.3rem;
}

.filter-byrating__label:last-of-type {
  margin-left: 0.5rem;
}

.filter-byrating__input {
  font-family: $main-font;
  font-weight: 600;

  color: black;

  padding-inline: 0.3rem;
  width: 3.5rem;
  height: fit-content;
}

.filter-bygenre {
  margin-top: 0.6rem;
  width: 100%;
  padding-inline: 1rem;

  border: 1px solid transparent;
  border-radius: 15px;

  @include flexVertical;
  // background-color: $dark-theme-bg-color2;
}

.filter-bygenre_header {
  @include flexHorizontal;
  width: 100%;
  height: fit-content;
}

.filter-bygenre__header-text {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem;
  color: white;
}

.filter-bygenre__genres {
  list-style: none;
  padding: 0;
  margin: 0;

  @include flexHorizontal;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-bygenre__genre {
  color: white;
  font-size: 14px;
  width: fit-content;

  background-color: $dark-highlight;
  border: 2px solid transparent;
  border-radius: 10px;

  padding-inline: 0.7rem;
  padding-block: 0.2rem;

  margin: 0;
  margin-block: 0.2rem;
  margin-inline: 0.2rem;

  transition: 0.1s ease-in-out;
}

.filter-bygenre__genre.genre-active {
    border-color: $primary-color2;
}

@media (hover: hover) and (pointer: fine) {
  .filter-bygenre__genre:hover {
    cursor: pointer;
    background-color: hsla(0, 0%, 25%);
    color: $primary-color2;
  }

  .filters-menu__btn:hover {
    cursor: pointer;
    background-color: $dark-highlight;

    .filters-menu__icon-track1 {
      transform: translateY(-10px);
    }

    .filters-menu__icon-track2 {
      transform: translateY(13px);
    }

    .filters-menu__icon-track3 {
      transform: translateY(-15px);
    }
  }
}
