@import '../../../styles/variables.scss';

.main-search__container {
    @include flexHorizontal;
    justify-content: center;
    width: 100%;
    height: 45px;

    margin-top: 2rem;
    display: flex;
    position: relative;

}

.main-search__input {
    height: 100%;
    min-width: 100%;
    font-size: 1.3rem;
    padding: 0 1.5rem;
    border-radius: 50px;

    color: rgb(71, 71, 71);

    border: 1px solid transparent;
    transition: 0.3s border ease-in-out;
}

.main-search__input:focus {
    outline: none !important;
    border: 1px solid $primary-color2 !important;
}

.main-search__button {
    height: 100%;
    width: 15%;


    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    right: 0;

    transition: 0.25s ease-in-out;
}



.main-search__button:hover {
    cursor: pointer;
    width: 18%;
}
