@import "../../../styles/variables.scss";



.register-login {
    margin-top: $nav-height;

    width: 100%;
    height: fit-content;
    padding-block: 1rem;

}

.register-login__card {
    margin-inline: $layout-margin;
    height: calc(100vh - $nav-height - 2rem);

    background-color: $dark-theme-bg-color1;

    @include flexHorizontal;

    border-radius: 20px;
    overflow: hidden;

    position: relative;
    z-index: 1;

    -webkit-box-shadow: 0px 0px 49px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 49px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 49px -14px rgba(0, 0, 0, 1);
    
}

.card__img-section {
    width: 100%;
    height: 100%;

    position: absolute;
}

.card__img-section::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;

    top: 0px;
    left: 0px;

    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(
      90deg,
      rgba(15, 15, 15, 0.6) 0%,
      rgba(15, 15, 15, 0.2) 0%
    );

    -webkit-box-shadow: inset 0px 0px 49px -10px rgba(0, 0, 0, 1);
-moz-box-shadow: inset 0px 0px 49px -10px rgba(0, 0, 0, 1);
box-shadow: inset 0px 0px 49px 25px rgba(0, 0, 0, 1);

    z-index: 1;
}

.card__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: none;
    position: absolute;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.card__img.fade-out {
    display: block;
    opacity: 1;
    animation: fadeOut 3s;
}

.card__img.active {
    display: block;
    opacity: 1;
    animation: fadeIn 3s;
}

.card__form-section {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 2;

    @include flexVertical;
    justify-content: center;

    top: -5rem;
}

.card__form {
    width: 50%;
    height: fit-content;

    @include flexVertical;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    border-top-right-radius: 20px;

    // background: rgba(0, 0, 0, 0.75);
    // background: linear-gradient(
    //   90deg,
    //   rgba(15, 15, 15, 0.6) 0%,
    //   rgba(15, 15, 15, 0.8) 0%
    // );

    background-color: hsla(0, 0%, 6%, 0.8);
    border: 1.5px solid $primary-color2;

    border-radius: 20px;
}

.form__header-text {
    font-family: $main-font;
    text-align: center;

    margin: 0;
    min-width: 50%;

    color: white;
    font-weight: 300;
    border-bottom: 1px solid $primary-color2;
    padding-bottom: 0.3rem;
}

.form__inputs {
    padding-left: 0;

    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;

    @include flexVertical;
    justify-content: center;

    list-style: none;
}

.form__input {
    width: fit-content;
    @include flexVertical;
    width: 100%;

    padding-inline: 5rem;
}


.form__input:first-of-type {
    margin-bottom: 1.5rem;
}

.input__label {
    font-family: $main-font;
    color: white;

    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.input {
    height: fit-content;
    font-size: 1rem;
    width: 100%;
    
    border-radius: 100vw;
    padding-inline: 1rem;
    padding-block: 0.4rem;
}

