@import "../../../styles/variables.scss";


.register-login {
    margin-top: $nav-height;

    width: 100%;
    height: fit-content;
    padding-block: 1rem;

}

.register-login__card {
    height: calc(100vh - $nav-height - 2rem);

    background-color: $dark-theme-bg-color1;

    @include flexHorizontal;

    overflow: hidden;

    position: relative;
    z-index: 1;

    -webkit-box-shadow: 0px 0px 49px -14px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 49px -14px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 49px -14px rgba(0, 0, 0, 1);
    
}

.card__img-section {
    width: 100%;
    height: 100%;

    position: absolute;
}

.card__img-section::before {
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;

    top: 0px;
    left: 0px;

    background: rgba(0, 0, 0, 0.75);
    background: linear-gradient(
      90deg,
      rgba(15, 15, 15, 0.6) 0%,
      rgba(15, 15, 15, 0.2) 0%
    );

    -webkit-box-shadow: inset 0px 0px 49px -10px rgba(0, 0, 0, 1);
-moz-box-shadow: inset 0px 0px 49px -10px rgba(0, 0, 0, 1);
box-shadow: inset 0px 0px 49px 25px rgba(0, 0, 0, 1);

    z-index: 1;
}

.card__img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}




.card__form-section {
    width: 100%;
    height: 100%;

    position: relative;
    z-index: 2;

    @include flexVertical;
    justify-content: center;

    top: -3rem;
}

.card__form {
    width: 45%;
    min-width: 700px;
    height: fit-content;

    @include flexVertical;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    border-top-right-radius: 20px;

    // background: rgba(0, 0, 0, 0.75);
    // background: linear-gradient(
    //   90deg,
    //   rgba(15, 15, 15, 0.6) 0%,
    //   rgba(15, 15, 15, 0.8) 0%
    // );

    background-color: hsla(0, 0%, 6%, 0.8);
    border: 1.5px solid $primary-color2;

    border-radius: 20px;
}

.form__header-text {
    font-family: $main-font;
    text-align: center;

    margin: 0;
    min-width: 50%;

    color: white;
    font-weight: 300;
    border-bottom: 1px solid $primary-color2;
    padding-bottom: 0.3rem;
}


.form__footer {
    width: 100%;
    height: fit-content;

    margin-top: 1rem;
    @include flexVertical;
    justify-content: center;
}

.form__errors {
    width: 100%;
    height: fit-content;
    margin-bottom: 0.5rem;

    padding-inline: 5rem;
  }
  
  .form__error-text {
    color: red;
    font-family: $main-font;
    font-weight: 200;
    font-size: 12px;
  }

.form__submit-btn {
    width: 40%;
    height: fit-content;
    padding-block: 1rem;
    background: none !important;
    background-color: $primary-color2 !important;

    font-size: 0.95rem;

    transition: transform 0.2s ease-in-out;
}


@media (hover: hover) and (pointer: fine) {

    .form__submit-btn:hover {
      cursor: pointer;
      transform: scale(1.03)
    }
  }

  // DISPLAY SIZE MEDIA QUERIES

  @media screen and (max-width: 850px) {

    .card__form {
        width: 80%;
        min-width: 450px;
        
    }
}

  @media screen and (max-width: 500px) {

    .form__header-text {
        width: 65%;
        font-size: 1.7rem;
    }

    .card__form {
        width: 90%;
        padding-block: 2rem;
        min-width: 100px;
    }

    .form__errors {
        padding-inline: 2rem;
    }
  }
