@import "../../../styles/variables.scss";

.info-section__rating-section {
    width: 100%;
    @include flexHorizontal;
    margin-top: 2rem;
}

.rating-section__icon {
    height: 18px;
    position: relative;
    top: -1px;
    margin-right: 0.2rem;
}

.rating-section__text {
    font-weight: 300;
    color: white;
    font-size: 18px;
    margin: 0;
}

.rating-section__average-score {
    color: white;
    font-size: 18px;
    margin: 0;
    margin-right: 0.3rem;
}