@import "../../../styles/variables.scss";

$img-section-width: 30%;

.details-main__img-section {
    width: $img-section-width;
    max-height: 100%;
    height: 100%;

    @include flexVertical;
    padding-right: 2rem;
}

.details-main__img-container {
        height: 100%;
        width: 100%;
        position: relative;
}

.details-main__img {
    object-fit: cover;
}