@import "../../../styles/variables.scss";
@import "../../UI/ToWatchButton/styles/ToWatchButton.module.scss";
$img-section-width: 27%;

// PRIMARY CONTENT

.details-page__primary-content {
  width: 100%;
  min-height: 80vh;
  height: 700px;
  background-color: $dark-theme-bg-color2;
  position: relative;
  font-family: $main-font;

  padding-top: $nav-height;
  // padding-bottom: $nav-height;
}

.details-page__backdrop {
  position: absolute;

  padding-top: $nav-height;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.details-page__backdrop-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.details-page__primary-content::before {
  content: "";

  position: absolute;
  // margin-top: $nav-height;

  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 0.6) 0%,
    rgba(15, 15, 15, 0.82) 0%
  );

  z-index: 1;
}

.details-main {
  width: 100%;
  height: 100%;
  padding-top: calc($nav-height - 2rem);
  padding-inline: $layout-margin;
  @include flexHorizontal;
  align-items: flex-start;

  position: relative;
  z-index: 2;
}

.details-main__content {
  min-height: fit-content;
  height: 100%;
  align-self: flex-start;
  width: calc(100% - $img-section-width);

  @include flexVertical;
  justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
  .details-page__primary-content {
    width: 100%;
    min-height: 80vh;
    height: 500px;
    background-color: $dark-theme-bg-color2;
  }
}

.to-watch-btn__container {
  width: fit-content;
  height: fit-content;

  align-self: flex-start;

  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .details-page__primary-content {
    height: 600px;
  }
}

@media screen and (max-width: 700px) {
  .details-main {
    width: fit-content;
    height: fit-content;
  }
}


@media screen and (max-width: 450px) {
  .details-main {
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .input-btn__to-watch {
    & .btn__label {
      font-size: 14px;
      white-space: word-break;
    }

    & .btn__icon {
      width: 25px;
    }
  }
}
