@import "../../../styles/variables.scss";

.info-section__header-section {
  min-height: fit-content;
  height: fit-content;
  width: 100%;

  @include flexHorizontal;
  justify-content: flex-start;
  align-self: flex-start;
}

.header {
  min-height: fit-content;
  height: fit-content;
  width: fit-content;

  @include flexVertical;
  align-items: flex-start;
  border-bottom: 2px solid $primary-color2;

  padding-right: 5rem;
  padding-bottom: 0.7rem;
}

.header__head {
  @include flexHorizontal;
  align-items: center;
}

.header__title {
  color: white;
  margin: 0;
  font-size: 27px;
}

.header__span {
  height: 100%;
  color: white;
  font-size: 22px;
  font-weight: 400;

  margin-left: 0.4rem;
  text-align: start;
}

.header__info {
  color: white;

  font-weight: 300;

  margin: 0;
  margin-top: 0.2rem;
}

.header__inputs {
  width: fit-content;
  height: fit-content;
  margin-left: 2rem;
}

@media screen and (max-width: 1200px) {
  .header {
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  .header__title {
    font-size: 23px;
  }

  .header__info {
    color: white;

    font-weight: 300;
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding-right: 0rem;
  }
}


@media screen and (max-width: 400px) {
  .header__title {
    font-size: 20px;
  }

  .header__info {
    font-size: 13px;
  }
}
