@import "../../../styles/variables.scss";

.info-section__summary-section {
  margin-top: 0.5rem;
  width: 100%;
  padding-right: 10%;
}

.summary__header-text {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.summary__container {
  margin-top: 0.7rem;
  overflow-y: scroll;
  max-height: 21rem;
  height: auto;
}



.summary__text {
  color: white;
  font-weight: 300;
  margin-top: 0;
  font-family: $secondary-font;
  font-size: 16px;
}

