@import "../../../styles/variables.scss";
$ratio: 1.5;

.actor__container {
  @include flexVertical;
  width: fit-content;
  height: fit-content;
  z-index: 10;
}

.actor__img-container {
  width: 160px;
  height: calc(160px * $ratio);

  border-radius: 15px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.actor__img-container:last-of-type {
  margin-right: 0;
}

.actor__img-container:first-of-type {
  margin-left: 0;
}

.actor__img-container:active {
  transform: scale(1.04);
}

.actor__img {
  width: 100%;
  height: 100%;
}

.actor__info {
  margin-top: 1rem;
  width: fit-content;
  @include flexVertical;
  justify-content: center;
}

.actor__fullname {
  color: white;
  text-align: center;
  margin: 0;

  word-wrap: break-word;
}

.actor__fullname:active {
  text-decoration: underline;
}

.actor__known-from {
  font-style: italic;
  padding-block: 0.4rem;
  margin: 0;
  font-size: 13px;
  color: white;
  text-align: center;
}

.actor__known-from:active {
  text-decoration: underline;
}

@media (hover: hover) and (pointer: fine) {
  .actor__known-from:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .actor__fullname:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .actor__img-container:hover {
    transform: scale(1.04);
    cursor: pointer;
  }
}

@media screen and (max-width: 1450px) {
  .actor__img-container {
    width: 140px;
    height: calc(140px * $ratio);
  }

  .actor__fullname {
    font-size: 0.95rem;
  }

  .actor__known-from {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 1100px) {
  .actor__container:last-of-type {
    display: none;
  }
}


@media screen and (max-width: 950px) {
  .actor__container:nth-child(5) {
    display: none;
  }
}

// @media screen and (max-width: 900px) {
//   .actor__img-container {
//     width: 110px;
//     height: calc(110px * $ratio);
//   }

//   .actor__fullname {
//     font-size: 0.85rem;
//   }

//   .actor__known-from {
//     padding-top: 0.2rem;
//     font-size: 0.65rem;
//   }
// }

@media screen and (max-width: 750px) {
  .actor__container:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .actor__img-container {
    width: 130px;
    height: calc(130px * $ratio);
  }

  .actor__fullname {
    font-size: 0.8rem;
  }

  .actor__known-from {
    padding-top: 0.2rem;
    font-size: 0.6rem;
  }

  .actor__container:nth-child(4) {
    display: flex;
  }
}

@media screen and (max-width: 400px) {


  .actor__fullname {
  }

  .actor__known-from {
    padding-top: 0.1rem;
  }
}

@media screen and (min-width: 2000px) {
  .actor__container {
    margin-right: 2rem;
  }
}
