@import "../../../styles/variables.scss";

.showcaser__wrapper {
  height: 27rem;
  width: 100%;
  position: relative;

  transition: 0.2s ease-in;
}

.showcaser__wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;

  background: rgba(0, 26, 67, 0.75);
  background: linear-gradient(
    to right,
    rgba(0, 26, 67, 0.75) 0%,
    rgba(0, 26, 67, 0.75) 0%
  );

  z-index: 1;
}

.showcaser__backdrop {
  width: 100%;
  height: 100%;

  position: absolute;
  object-fit: cover;
  object-position: center;
}

.showcaser__container {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: $main-font;

  padding-inline: $layout-margin;
  padding-top: 1rem;
  // margin-block: $section-margin;
}

.showcaser__header {
  @include flexHorizontal;
  z-index: 15;
}

.header-text {
  color: white;
  font-size: 1.5rem;
  height: fit-content;

  margin: 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $primary-color2;
  z-index: 10;

  padding-right: 1.5rem;
}

.actors__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  column-gap: 15px;
  row-gap: 30px;

  height: fit-content;
  margin-top: 1.2rem;
  padding-bottom: 0;
  z-index: 10;

  @media screen and (max-width: 1100px) {
    & {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media screen and (max-width: 950px) {
    & {
      grid-template-columns: repeat(4, 1fr);
    }
  }


  @media screen and (max-width: 750px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 600px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 1450px) {
  .showcaser__wrapper {
    height: 26rem;
  }
}

@media screen and (max-width: 900px) {
  .header-text {
    font-size: 1.32rem;
  }

  // .showcaser__wrapper {
  //   height: 21rem;
  // }
}


@media screen and (max-width: 600px) {
  .header-text {
    font-size: 1.15rem;
  }

  .showcaser__wrapper {
    height: 40rem;
  }
}

@media screen and (max-width: 500px) {

  .showcaser__header {
    padding-inline: 1.5rem;
  }

.showcaser__container {
  padding-inline: 0.5rem;
}

  

  .header-text {
    font-size: 1.15rem;
  }

  .showcaser__wrapper {
    height: 36rem;
  }
}

@media screen and (max-width: 500px) {
  .showcaser__wrapper {
    height: 38rem;
  }
  
}

@media screen and (min-width: 2000px) {
  .actors__container {
    justify-content: flex-start;
  }
}
