$primary-color1: #3a86ff;
$primary-color2: #ff006e;
$middle-color: #8338ec;
$dark-theme-bg-color1: hsl(0, 0%, 12%);
$dark-theme-bg-color2: hsl(0, 0%, 6%);
$dark-theme-bg-color3: rgba(255, 255, 255, 0.7);
$dark-highlight: hsla(0, 0%, 20%);
$dark-theme-primary-color: black;
$main-font: 'Montserrat', sans-serif;
$layout-margin: calc(100vw/12);
$nav-height: 4.6rem;
$section-margin: 2.5rem;
$main-scrollbar-width: 10px;

$filters-border-radius: 15px;
$filters-width: 13rem;
$results__padding-left: 2rem;

@mixin flexHorizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flexVertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin scroller-scrollbar {
    ::-webkit-scrollbar {
        height: 6px;  
      }
}
